
.donor-list {
    color: #229402;
    text-align: center;

    h3 {
        margin: 40px 0;
    }

    ul {
        line-height: 1.4em;
        list-style: none;
        margin-right: 35px;
        font-size: 15px;

        li {
            font-size: 1.2em;
            margin-top: 10px;
            
        }
    }


}

