@media only screen and (min-width: 900px) {
    .nav-cart {
        display: none;
    }
}

nav.navbar  {
    margin-top: 10px;
    padding-left: 50px;
    border-bottom: 4px solid #229402;


        .nav-item a {
            color: #229402;
            box-sizing: border-box;
            font-size: 1.5em;
            
        }

        a:hover {
            color: #34da06;
            background: none;


        }

    
    a {
        color: #229402;
        margin: 5px;
    }
    a:hover {
        color: #34da06;
        background: none;
        text-decoration: none;
    }
}

.search {
    right: 2vw;
    top: 1vw;
}

