

.main {
    margin: 10vw 18vw 0 330px;
    padding: 2vw;
}

.order-table {
    margin: 40px 0;
}

.stripe-button {
    margin: 20px 0;
    
}

@media only screen and (max-width: 800px) {
    .left_sidebar {
        display: none;
    }

        .main {
            margin: 10vw 20px;
        }

    
}