
<div class="page-head">
  <div class="page-top">
    <h1>Partner Profiles</h1>
  </div>
</div>

<div class="container">
  <div class="profiles-list">
    <% @business_profiles.each do |business_profile| %>
      <div class="row bp-row">
          <div class="col-lg-3">
            <%= image_tag(business_profile.avatar.url, size:"200x200") %>
          </div>
          <div class="col-lg-3">          
            <h2><%= business_profile.name %></h2>
          </div>
          <div class="col-lg-3">
            <h5>About</h5><%= business_profile.about %>
          </div>
        </div>
    <% end %>
  </div>
</div>

