



    

    
<div class="order-form">
    <h5>Hi, <%= current_donor.donor_profile.first_name %> <%= current_donor.donor_profile.last_name %> </h5>

    <%= render "layouts/summary" %>

    <section class="order_form">
    <%= render 'form', order: @order %>

</div>


