

<div class="how-top">
    <div class="how-header">
        <h1>How it works</h1>

        <h4 class="how-tag">Ever wondered where a charity spends your donation? Us too.
            We want to connect you, our amazing donors, to exactly where your money is being spent.</h4>
    </div>
</div>

<div id="bg-img1">
</div>
<div class="how-top">
    <div class="how-mid">
        <h1>But how do we do this?</h1>

        <h4>The OzFeed website is set up to build a relationship between our food donors
            and funds donors. Say you're an amazing local corner store, 'Bob's Pantry', that wants to make a difference
            to those less fortunate in our community. You package up your 50 tins of soup and baked beans
            and load the details up onto our site. We then calculate exactly how much it costs Ozfeed to 
            pick up and handle the food donation and attach that price to the order.</h4>
    </div>
</div>
<div id="bg-img2">
</div>
<div class="how-top">
    <div class="how-bot">
        <h4>Sandra from Glebe then logs onto our website and decides she would like to donate $30
        of her hard earned cash to OzFeed (you're a star Sandra!). She see's the listing from Bob's Pantry
        which just happens to cost $30 for us to pickup and sort. She places that order in her online
        shopping cart and proceeds to the checkout where she can pay with her credit card.</h4>

        <h4>Once she has paid both Sandra and Bob's Pantry get a receipt for their taxes and we get to work.
            Our team then head out to see Bob, pickup his nicely packaged tins and bring it back to our depot. 
            From here it is sorted and delivered out to those who need it most</h4>

        <h3>Amazing!</h3>
    </div>
</div>

    