<h1>Our Story</h1>

<p>We started in 2013 with one man and a truck, we are now an oranisation with over 20 full time employees and many many more
wonderful volunteers.</p>

<h3>Our Mission</h3>

<p>To connect society's excess food with those who need it most.</p>

<p>We provide food in all forms, from cookups in city parks to grocery drops
to underfed families. We deliver to many shelters and community centers as well, providing over 1000 meals
every day!</p>
