/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';


 input[type="submit"]:hover {
    background-color: #10CE16;
    color: white;
}

.price {
    font-weight: bold;
}

 body {
    margin: 0;
    padding: 0;
}

.cart {
    margin-top: 20px;
}

.content {
    font-family: 'Montserrat', sans-serif;
    
}

.header {
    background: white;
    margin: 0;
    height: 9vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
};

.main {
    margin: 10vw 18vw 0 330px;
    padding: 2vw;
}
.left_sidebar {
   position: fixed;
   left: 0;
   top: 130px;
   width: 300px;
   height: 100%;
   border-right: 4px solid #229402;
}
.donor-list {
    text-align: center;
    
        ul {
        list-style: none;
        margin-right: 35px;
        font-size: 15px;
            li {
                margin-top: 10px;
            }
        }
}

.contents {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 20px;
}

.card-columns {
    display: block;
    justify-content: center;
    margin: 5vw 10vw;

    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
  }



 @media only screen and (max-width: 900px) {
    .left_sidebar {
        display: none;
    }
    .content {
        margin-top: 150px;
    }

    .main {
        margin-left: 50px;
    }

}