/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';


 input[type="submit"]:hover {
    background-color: #10CE16;
    color: white;
}

.price {
    font-weight: bold;
}

 body {
    margin: 0;
    padding: 0;
}

.cart {
    margin-top: 20px;
}

.content {
    font-family: 'Montserrat', sans-serif;
    
}

.header {
    background: white;
    margin: 0;
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
};

.main {
    margin-left: 300px;
    padding: 0px;
    margin-top: 130px;
    border-left: 4px solid #229402;
    
}
.left_sidebar {
   position: fixed;
   left: 0;
   top: 130px;
   width: 300px;
   max-height: calc(100vh - 130px);
   overflow-y:scroll;
}
.donor-list {
    text-align: center;
    
        ul {
        list-style: none;
        margin-right: 35px;
        font-size: 15px;
            li {
                margin-top: 10px;
            }
        }
}

.contents {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 0px;
}

.card-columns {
    display: block;
    justify-content: center;
    margin: 5vw 10vw;

    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
  }

// Sign up page scss
  
  .sign-up-bg {
    margin: 0;
    width: 100%;  
    min-height: 100vh;
    background-image: url("limes.jpg");
    opacity: 0.4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}    

.middle-layer {
    position: absolute;
}

    .sign-up {
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        max-width: 400px;
        margin: 50px 15vw;

        .sign-up-content {
            padding: 50px;

            h2 {
                color: #229402;
                margin: 20px 0 30px 0;
            }

            .field {
                margin-top: 15px;
                width: 300px;
            }

        }
    }

    .devise-links {

        a {
            text-decoration: none;
            color: #229402;
        }

        a:hover {
            color: #10CE16;
            background: none;
        }
    }


    // Profile Show page

.profile {
    background-image: url("good-karma.jpg");
    background-size: cover;
    position: center;
    padding: 50px;

    h2 {
        color: #10CE16;
        
    }

    .profile-content {
        margin-top: 50px;
        border: 2px solid green;
        background-color: rgba(244, 244, 244, 0.8);
        border-radius: 30px;
        padding: 30px;

        .avatar {
            margin-bottom: 30px;
        }

        .profile-links a {
            text-decoration: none;
            color: #229402;
            font-size: 1.3em;
            margin-bottom: 30px;
            
        }

        .profile-links a:hover {
            color: #10CE16;
            background: none;
        }
        
        p {
            color: #229402;            
            font-size: 1.3em;
            line-height: 1.5em;
        }

        .edit-button a {
            text-decoration: none;
            color: #229402;
            font-size: 1.3em;
            margin-bottom: 30px;
        }
        .edit-button a:hover {
            color: #10CE16;
            background: none;
        }
    }
}

 @media only screen and (max-width: 900px) {
    .left_sidebar {
        display: none;
    }
    .content {
        margin-top: 130px;
    }

    .main {
        margin: 0;
    }

}



