<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>
<div class="page-head">
    <div class="page-top">
        <h1>OzFeed Store</h1>
    </div>
</div>
    
<div>
    <%= render 'products/product' %>
</div>