<div class="sign-up-bg">
</div>
<div class="middle-layer">
    <div class="sign-up">
        <div class="sign-up-content">
            <h1>New Product</h1>
    

            <%= render 'form', product: @product %>

            

        </div>
    </div>

</div>
    
