<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>
<div class="heading">
    <h1>Welcome to OzFeed ... over 20,000 meals delivered</h1>
    <%= image_tag('veggies.jpg', id:'bigimg1', size:'500x350')  %>
</div>

    <div>
        <%= render 'products/product' %>
    </div>