<div class="donor-list">
    <h3>Latest Superstars!</h3>

    <ul>
        <% Order.order("created_at DESC").first(8).each do |order| %>
            <% if order.anonymous %>
                <% person = Donor.find(order.donor_id) %>
               <li> <%= "Anonymous"%><br/><%="donated $ #{order.price}0" %></li>
            <% else %>
                <% person = Donor.find(order.donor_id) %>
                <li><%= "#{person.donor_profile.first_name}"%><br/><%=" donated $ #{order.price}0" %></li>
            <%end%>
        <% end %>
    </ul>
</div>
